<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>AccuFace</title>
    <link rel="icon" type="image/x-icon" href="~/Images/icon.png" />

    @Html.Partial("~/Views/Shared/_Bundle.cshtml")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109273357-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109273357-1');
    </script>


</head>
<body ng-app="myFaceApp" class="ng-cloak">

    @Html.Partial("~/Views/Shared/_Header.cshtml")

    <div class="container" id="body-content">

        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("~/Views/Shared/_MenuBar.cshtml")
        }

        @RenderBody()
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    @RenderSection("NgScript", false)
</body>
</html>